{% assign my_sorted_list = site.data.all_jobs | sort:"date_init" %}
{% for c in my_sorted_list %}

{% if c.exp == "CONF-CASE" %} 
<div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title h3"> Job number {{ c.job }}</h2>
                <ul>
                    <li> was launched on  : {{ c.date }} </li>
                    <li> run from time-step {{ c.nit0 }} to {{ c.nitend }} with a time-step of {{ c.dt }} seconds </li>
                    <li> on  {{ c.node }} nodes and {{ c.cores }} cores that runned for {{ c.real_time }} seconds consumming {{ c.cpu_time }} hours in total</li>
                    {% if c.success == "Oui" %} <li> Result : <font color="Teal"> Success </font> </li> {% endif %} 
                    {% if c.success == "Non" %} <li> Result : <font color="Tomato"> Failed </font> </li> {% endif %} 
                    {% if c.remarks %} <li> Remarks : <font color="SlateGrey">{{ c.remarks }} </font> {% endif %} </li>
                </ul>
            </div>
        </div>
</div>
{% endif %}
{% endfor %}
